{
  "overrides": [
    {
      "files": ["**/*.js"],
      "parser": "espree",
      "extends": ["eslint:recommended"]
    },
    {
      "files": ["**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    }
  ]
}