{
  "overrides": [
    {
      "files": ["./static/js/*.js", "./static/js/*.jsx"],
      "parser": "espree",
      "extends": ["eslint:recommended"]
    },
    {
      "files": ["./static/js/*.ts"],
      "parser": "@typescript-eslint/parser",
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    }
  ]
}